.container {
  z-index: 9;
  position: absolute;
  display: block;
  top: 10px;
  right: 5px;
  width: 219px;
  height: 27px
}

.typemark {
  bottom: 4;
  position: absolute;
  z-index: 10;
  width: 200px;
  cursor: pointer;
  left: 9px;
}

.label {
  font-family: 'Helvetica Neue',Helvetica,sans-serif;
  font-weight: 400;
  font-size: 0.875em;
  line-height: 1.71429;
  position: absolute;
  bottom: 5px;
  z-index: 15;
  color: white;
  font-size: small;
  font-weight: 250
}

.heat {
  left: 25px
}

.hex {
  left: 30px;
}

a.mapboxgl-ctrl-logo {
  display: none
}

.map-control {
  display: none
}

.mapboxgl-ctrl-bottom-right {
  display: none
}

.export {
  z-index: 9;
  color: white;
  display: block;
  position: absolute;
  background-color: black;
  height: 25px;
  width: 100px;
  border-radius: 8px;
  border-color: black;
  left: 20px;
  bottom: 135px;
  cursor: pointer;
  opacity: 0.7;
}

.config-select {
  width: 100px;
  height: 100px;
  border-radius: 15%;
  border-style: solid;
  border-width: 1px;
}

.config-container {
  align-items: center;
  z-index: 9;
  position: absolute;
  display: block;
  bottom: 20px;
  left: 20px;
  width: 100px;
  height: 100px;
  cursor: pointer;
  opacity: 0.7;
}