h1 {
  color: black;
}

body {
  text-align: center;
  margin: auto;
}

/* .container {
  border-radius: "5px";
  border: 0;
  background: "#344351";
  z-index: 9;
  position: "absolute";
  display: "block";
  bottom: "0px";
  left: "5px";
  position: "absolute";
  display: "block";
  width: "219px";
  height: "27px"
}

.typemark {
  bottom: "4px";
  position: "absolute";
  z-index: 10;
  width: "200px";
  cursor: "pointer";
  left: "9px";
} */